# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# --- VS Code ---#
.vscode/

# -- Andere Dateien --#
SavedEvents.csv
data/lastpath.txt

# --- sensibel ---#
.src/resources/credentials.json
.tokens/